// azzeramento parametri
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

img{
    max-width: 100%;
}

.container{
    width: 70%;
    margin: 0 auto;
    padding: 0 1em;
}